<template name="discover">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 content-custom">
        <h3>Discover</h3>
        
        {{#each questions}}
          {{ > question q=this belief=33 }}
        {{/each}}
        
        {{#if noQuestions}}
          <div class="well">
            <p>Discover couldn't find any content for you.</p>
            <p>Start asking to let us know what you like!</p>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>
