<template name="topBar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a id="navbar-title" class="navbar-brand" href="/">pollr</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#if currentUser}}
            <li><a href="/discover">Discover</a></li>
          {{/if}}
          <li><a href="{{ pathFor 'about' }}">About</a></li>
        </ul>

        <ul id="navbar-user" class="nav navbar-nav navbar-right">
          {{#if currentUser}}
            <li class="dropdown navbar-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ currentUser.username }}<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/profile/{{currentUser.username}}">Profile</a></li>
                <li class="divider"></li>
                
                {{ > logoutButton }}
              </ul>
            </li>

            <div id="search-form" class="navbar-form navbar-right">
              <input id="search-box" type="text" class="form-control" placeholder="#search">
            </div>
          {{/if}}
        </ul>
      </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
  </nav>

</template>
