<template name="home">

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <button id="new-question-button" type="button" class="btn btn-success btn-justified">Something to ask ?</button>
      {{ > newQuestion }}

      <div class="panel panel-default">
        <div class="panel-body">
          <div id="question">
            <h4>Qual o tema da minha proxima musica ?</h4>
            <button type="button" class="btn btn-default btn-sm btn-primary">Weed</button>
            <button type="button" class="btn btn-default btn-sm btn-success">Cocain</button>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <div id="question">
            <h4>Qual o tema da minha proxima musica ?</h4>
            <button type="button" class="btn btn-default btn-sm btn-primary">Weed</button>
            <button type="button" class="btn btn-default btn-sm btn-success">Cocain</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

</template>
