<template name="home">
  <div class="container">    
    <div class="row">
      {{#if currentUser}}
        <div class="col-md-8 col-md-offset-2 content-custom">
          {{ > newQuestion }}

          {{#each questions}}
            {{ > question q = this }}
          {{/each}}
          {{#if noQuestions}}
            <div class="well">
              <p>It looks like your feed is empty...</p>
              <p>Search for content, follow new people and hashtags to get going !</p>
            </div>
          {{/if}}
        </div>
      {{else}}
        {{ > accounts }}
      {{/if}}
    </div>
  </div>
</template>
