<template name="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 content-custom">
        <h3>About</h3>
        <p>Created in a weekend <a href="http://shiftappens.com">@Shift APPens</a> by the following <i>gentlemen</i>:</p>

        <ul>
          <li><a href="https://twitter.com/munchor">@Munchor</a></li>
          <li><a href="https://twitter.com/JBAmaro">@JBAmaro</a></li>
          <li><a href="https://twitter.com/GangsterVeggies">@GangsterVeggies</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
