.tab-links {
  border-radius: 0px !important;
}

#accounts-login-signup {
  margin-top: 27%;
  padding-top: 2em;
  padding-bottom: 2em;
}

#accounts-login-signup input {
  margin-top: 3%;
}

.tab-links {
  color: #5cb85c;
}

#banner {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
