#new-question-form {
  padding-bottom: 150px;
  padding-top: 15px;
  margin-top: 0;
}

#new-question-question {
  margin-bottom: 20px;
  width: 90%;
}

.answer {
  margin-bottom: 10px;
  width: 90%;
}

@media only screen and (max-width : 500px) {
  .answer {
    width: 85%;
  }

  #new-question-question {
    width: 85%;
  }
}
