#new-question-form {
  padding-bottom: 170px;
  padding-top: 35px;
  width: 100%;
  background: rgb(138, 205, 138) !important;
}

#new-question-btn {
  background-color: #1B691B;
  border-color: #0A790A;
}

#new-question-btn:hover {
  background-color: rgb(39, 150, 70);
}

#new-question-question {
  margin-bottom: 20px;
  width: 90%;
}

.answer {
  margin-bottom: 10px;
  width: 90%;
}

#new-question-banner {
  background-color: rgb(138, 205, 138);
}

@media only screen and (max-width : 500px) {
  .answer {
    width: 85%;
  }

  #new-question-question {
    width: 85%;
  }
}
