.panel {
  border-top: none;
  border-bottom: 1px green solid !important;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  box-shadow: none;
}

.answer-p {
  width: 100%;
}

.option {
  width: 100%;
}

.option:focus {
  background-color: transparent;
}

.option-chosen {
  border-color: green !important;
}