.panel {
  position: relative;
  margin-top: 1.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  box-shadow: 0 2.2px 2.2px 0px rgba(0, 0, 0, 0.2);
}

.vote-button {
  position: relative;
  margin-top: 1em;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.25) !important;

  background: white;
}

.ask-text {
  font-weight: bold;
  margin-right: 0.4em;
}

.sub-text {
  font-size: 0.9em;
  font-weight: 200;
  margin-left: 1.1em;
  margin-bottom: 0;
}

.link-highlight {
  font-weight: bold !important;
}

hr {
  margin-top: 1em;
  margin-bottom: 0.4em;
}

.option {
  width: 100%;
}

.option:focus {
  background-color: transparent;
}

.option-chosen {
  border-color: green !important;
}

#question a {
  color: #1B691B;
  font-weight: 500;
}

#question a:hover {
  color: #8ACD93;
  text-decoration: none;
}