.navbar {
  font-family: 'Roboto', sans-serif;
  border-radius: 0px;
  background: white;
  border-bottom: 2px solid #1B691B !important;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #222;
  font-weight: bold;
}
  
#navbar-title {
  color: rgb(138, 205, 138);
  font-weight: bold;
  font-size: 1.8em;
}

#navbar-user {
  font-weight: bold;
  margin-right: 1%;
}

#search-box {
  border-radius: 0px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}
