<template name="question">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="question">
        <h4>
          <a href="/profile/{{q.username}}">{{q.username}}</a>
          asks
          <a href="/question/{{ q._id }}">{{q.question}}</a>
        </h4>
        {{#if friendsCount}}
        <p>{{#each friends}}{{this}}{{/each}} voted on this</p>
        {{/if}}
        {{#each addIndex q.answers q._id}}
        <p><button type="button" class="btn btn-default btn-sm btn-default {{#if voted}}btn-success{{/if}} option option-{{index}}">{{value.text}} - {{value.count}}</button></p>
        {{/each}}
      </div>
    </div>
  </div>
</template>
