<template name="question">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="question">

        <div class="row">
          <h4 class="pull-left">
            <a href="/profile/{{q.username}}">{{q.username}}</a>
            <span class="ask-text">asks</span>

            {{#each questionPart}}
              {{#if link}}
                <a href="/search/%23{{value}}" class="{{highlight}}">#{{value}}</a>
              {{else}}
                {{value}}
              {{/if}}
            {{/each}}
          </h4>
        </div>

        <div class="row">
          {{#if belief}}
            <p class="sub-text">because you posted using <a href="/profile/{{q.source}}">{{q.source}}</a></p>
          {{else}}
            {{#if friendsCount}}
              <p class="pull-left sub-text">{{#each friends}}<a href="/profile/{{this}}">{{this}}</a>{{/each}} voted on this</p>
            {{/if}}
          {{/if}}
          <span class="pull-right sub-text"><a href="/question/{{q._id}}">{{q.date}}</a></span>
        </div>

        <hr />

        <div class="row">
          {{#each addIndex q.answers q._id}}
            <button type="button" class="btn btn-default btn-sm vote-button {{#if voted}}option-chosen{{/if}} option option-{{index}}" style="background: linear-gradient(to right, #BDE2BD {{firstGrad}}%, white {{secondGrad}}%)">
              <span class="pull-left">{{value.text}}</span>
              <span class="pull-right">{{value.count}}</span>
            </button>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
