<template name="question">
  <div class="panel panel-default">
    <div class="panel-body">
      <div id="question">

        <div class="row">
          <h4 class="pull-left">
            <a href="/profile/{{q.username}}">{{q.username}}</a>
            asks
            <a href="/question/{{q._id}}">{{q.question}} ?</a>
          </h4>
          <span class="pull-right">{{q.date}}</span>
        </div>

        <div class="row">

          {{#if friendsCount}}
            <p>{{#each friends}}<a href="/profile/{{this}}">{{this}}</a>{{/each}} voted on this</p>
          {{/if}}

          {{#each addIndex q.answers q._id}}
            <button type="button" class="btn btn-default btn-sm vote-button {{#if voted}}option-chosen{{/if}} option option-{{index}}">
              <span class="pull-left">{{value.text}}</span>
              <span class="pull-right">{{value.count}}</span>
            </button>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>
