<template name="newQuestion">
  <form id="new-question-form">
    <input type="text" class="form-control pull-left" id="new-question-question" placeholder="What is your question?">

    <button id="new-question-btn" type="button" class="btn btn-success pull-right"><i class="fa fa-check"></i></button>

    <input type="text" class="form-control answer pull-left" placeholder="Option 1">

    <input type="text" class="form-control answer pull-left" placeholder="Option 2">

    <button id="new-answer-btn" type="button" class="btn btn-default pull-right" data-toggle="tooltip" data-placement="right" title="Add new option"><i class="fa fa-plus"></i></button>
  </form>
</template>
